@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

a.active hr {
  display: block;
}

/* Hide the scrollbar in the browser in Product Page when there are multiple images */
::-webkit-scrollbar {
  display: none;
}

/* This is for the mobile Navbar, it will highlight the active link in black */
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
