service: aws-lambda-puppeteer-serverless

provider:
  name: aws
  region: us-west-2
  runtime: nodejs20.x

functions:
  WarmupPortfolioWebsite:
    handler: lambda_tests.handler
    timeout: 120
    events:
      - schedule: rate(5 minutes)
