MONGODB_URI = "mongodb+srv://hippo:hippo@awscluster1.yerzcf1.mongodb.net"
CLOUDINARY_API_KEY = "762564119471221"
CLOUDINARY_SECRET_KEY = "Jsm0lSPitC5qpBbs_eWDKJtsiZg"
CLOUDINARY_NAME = "dbkxcujcj"

JWT_SECRET = "mysecret"
ADMIN_EMAIL = "admin@fashionify.com"
ADMIN_PASSWORD = "Password123"
STRIPE_SECRET_KEY = "sk_1234567"